# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Django
staticfiles/
*.log
local_settings.py
db.sqlite3-journal

# Environment variables
.env.local
.env.*.local

# Node
node_modules/
npm-debug.log*

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
